<div>
    <h1>My Movies</h1>
    <table id="movies">
        <thead>
            <tr>
                <th>#</th>
                <th>Movie</th>
                <th>Listing Type</th>
                <th>Language</th>
                <th>Sound Effects</th>                            
                <th>IMDB Rating</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td>{{movie.imdbID}}</td>
                <td>{{movie.title}}</td>
                <td>{{movie.listingType.replace('_', ' ') | titlecase}}</td>
                <td>{{movie.language | titlecase}}</td>
                <td>{{movie.soundEffects.join(",") | titlecase}}</td>
                <td>{{movie.imdbRating}}</td>
                <td>
                    <button type="button" (click)="viewMovieDetails(movie)" >View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>