<div class="row">
    <div class="col-md-6">
    <h3 style="float:right;">My Movies Search With Title</h3> 
    </div>
    <div class="col-md-6 form-group">        
        <input 
          id="query" 
          type="text" 
          class="form-control" 
          [(ngModel)]="query"
          (keyup.enter)="getMoviesBasedOnTitleFilter()">
     
      <!-- <button type="button" (click)="getMoviesBasedOnTitleFilter()" class="form-control btn btn-primary">Search</button> -->
    </div>
</div> 
<div class="row">
    <div class="col-md-12">
    <table id="movies">
        <thead>
            <tr>
                <th>#</th>
                <th>Movie</th>
                <th>Listing Type</th>
                <th>Language</th>
                <th>Sound Effects</th>                            
                <th>IMDB Rating</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td>{{movie.imdbID}}</td>
                <td>{{movie.title}}</td>
                <td>{{movie.listingType.replace('_', ' ') | titlecase}}</td>
                <td>{{movie.language | titlecase}}</td>
                <td>{{movie.soundEffects.join(",") | titlecase}}</td>
                <td>{{movie.imdbRating}}</td>
                <td>
                    <button type="button" (click)="viewMovieDetails(movie)" >View</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>